.navLinks .page {
  color: white;
  font-size: 1.5em;
  padding: 30px;
  text-decoration: none;
}
.navLinks .page:hover{
  color: aquamarine;
}

.header {
  background-color:#4C367A;
  display: flex;
}
.header button{
 /*border: none;*/
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 1em;
  padding: 7px 15px;
  cursor: pointer;
  
}
.header button:hover{
  background-color: black;
  color: white;
}

.header h1{
  color: #9B99FF;
  padding: 15px 0; 
  font-size: 50px;
  margin-left: 50px;
}

.header .navLinks {
  float: right;
  text-align: right;
  width: 100%;
  padding: 30px 0;
}