.App {
  text-align: left;
  color: white;
  height: 100vh; 
}

.dark-mode{
  background-color: #323037;
}

.App .main-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.App .main-box .slogan-container {
  display: flex;
  align-items: center;
}

.App .main-box .element {
  padding: 50px;
}

.App .main-box p.element {
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 20%;
}
.App .main-box img.element {
  width: 40%;
}


