.App {
  text-align: left;
  color: white;
  
}

.App p{
  font-style: italic;
  font-size: 1.5em;
  margin-top: 70px;
}

.App .main-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App .main-box .element {
  padding: 50px;
}

